.books-container {
  width: 100%;
  height: 100vh;
}
.books-content {
    width: 100%;
    margin: 0 auto;
}
.header h1 {
  max-width: 1110px;
  margin: 0 auto;
}
.section-butttons {
  
  max-width: 1110px;
  margin: 0 auto;

  margin-top: 30px;
}
.section-butttons button {
  margin-left: 10px;
  margin-right: 10px;
}
.main {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.books-maps {
  margin: 0 auto;
  display: flex;
  align-items: flex;
  justify-content: center;
}
.map {
  width: 100%;
  display: flex;
  text-align: justify;

}
@media only screen and (max-width: 600px) {
  .map {
    width: 100%;
    display: block;
    text-align: justify;
  
  }
}
