:root {
  --clr-primary: rgb(41, 95, 103);
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
}

.card-container {
  width: 30%;
  
  display: inline-block;
}
.wrapper-flex {
 max-width: 10770px;
 margin: 6rem auto;
 margin-left: 5rem; 
  
}
.container {
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 280px;
  margin-bottom: 1rem;
  margin-left: 1rem;
  height: 375px;
}

.banner-img {
  position: absolute;
  background-image: url(https://images.unsplash.com/photo-1582727657635-c771002bdada?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  height: 10rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.profile-img {
  width: 8rem;
  clip-path: circle(60px at center);
  margin-top: 4.5rem;
}

.name {
  font-weight: bold;
  font-size: 1.5rem;
}

.description {
  margin: 1rem 2rem;
  font-size: 0.9rem;
}

.btn {
  width: 100%;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 1rem;
  background-color: var(--clr-primary);
}


@media(max-width: 700px) {
  .card-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-gray);
  }
  .wrapper-flex  {
    max-width: 1070px;
    margin: 0 auto;
    margin-top: 3rem; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .container {
   
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
  background-color: white;
  text-align: center;
  border-radius: 1rem;
  position: relative;
  width: 280px;
  margin-bottom: 1rem;
  margin-left: 1rem;
    height: 375px;
  }
  
}