 .linhe {
  display: inline-block;
  
}
.book {
 
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.book button {
  width: 15rem;
}
.book butto:hover {
  background-color: #348834;
}
