.main-container {
  width: 100%;
  
  
 

}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
p {
  font-weight: 500;
}
article {
  margin-top: 10rem;
}

.main-contant {
  
  max-width: 1070px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.main-contant h1  {
  display: flex;
  align-items: flex-start;
  width: 27rem;
  font-size: 2.5rem;
  font-family: Roboto, sans-serif;
  font-weight: 400;
 
  
}

.main-contant .imgs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
} 
.main-contant .logoMarca {
  width: 26rem;
  height: 10rem;
}
.main-contant .autor {
  width: 9rem;
  height: 10rem;
}
.paragrafo {
  margin-top: 2rem;
  max-width: 1058px;
  margin: 0 auto;
} 
.paragrafo  p {
  margin-top: 10px;
  text-indent: 50px;
  margin-bottom: 30px;
} 