.bg-drop {
  margin-left: 5px;
  width: 12%;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.d-flex {
  display: flex;
  align-items: center;
  
}
.d-flex .Input{
  width: 13rem;
  background-color: #333
}


@media (min-width: 600px) {
  .nav_bar_items {
    width: 90%;
    display: flex !important;
    justify-content: flex-end !important;
    flex-direction: row !important;
  }
  .d-flex {
    width: 50px;
  }


}
@media(max-width: 730px) {
  .navItem {
    border-bottom: 1px solid #999;
    margin-bottom: 0.5rem;
    width: 70px;
  }
}
@media(max-width: 428px) {
  .d-flex .Input {
    width: 6.3rem;
  } 
}
@media(max-width: 360px) {
  .d-flex .Input {
    display: flex;
    
    width: 5rem;
  }
  #brand {
    width: 5.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  } 
}

@media(max-width: 320px) {
  .d-flex .Input {
    display: flex;
    
    width: 5rem;
  }
  #brand {
    width: 5.5rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  } 
}