.bg-drop {
  margin-left: 5px;
  
}
.d-flex {
  display: flex;
}
.d-flex .Input{
  width: 13rem;
  background-color: #333
}

@media (min-width: 900px) {
  .nav_bar_items {
    width: 90%;
    display: flex !important;
    justify-content: flex-end !important;
    flex-direction: row !important;
  }

}
@media(max-width: 730px) {
  .navItem {
    border-bottom: 1px solid #999;
    margin-bottom: 0.5rem;
    width: 70px;
  }
}
